.bg{
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(22, 22, 22, 0.897);
    width: 100vw;
    height: 100vh;
    animation-name: fade;
    animation-duration: 650ms;
}

.modal{
    border: 1px solid #dfdfdf;
    color: #3f3d47;
    z-index: 200;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 20px;
    border-radius: 2%;
    background-color: #ffffff;
    width: 500px;
    height: min-content;
}

.modal input:focus, .modal textarea:focus{
    outline: none;
}

.modal input, .modal textarea{
    font-family: 'Ubuntu', sans-serif;
    padding: 10px 10px;
    border-bottom: 1px solid #d6d6d6;
}

.modal textarea{
    border: none;
    border-bottom: 1px solid #d6d6d6;
}

.header{
    position: relative;
    display: flex;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.color{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 100%;
}

.submit{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.cancel, .confirm{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 10px 30px;
    font-size: 15px;
}

.cancel{
    color: #919191;
    border: 1px solid #cecece;
}

.confirm{
    background-color: #7057d3;
    color: #ffffff;
}

.add{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: min-content;
    padding: 10px 0;
    border-radius: 5px;
}

.add_button{
    cursor: pointer;
    font-size: 18px;
    color: #9b9b9b;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

.preview, .empty_preview{
    border: 1px solid #e6e6e6;
    background-color: #ececec;
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 100%;
}

@keyframes fade{
    from {background-color: transparent}
    to {background-color: rgba(22,22,22,0.897)}
}