.bg{
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(22, 22, 22, 0.897);
    width: 100vw;
    height: 100vh;
}

.modal{
    z-index: 200;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 15px;
    border-radius: 2%;
    background-color: #ececec;
    width: 500px;
    height: 500px;
}

.modal h3{
    padding: 0;
    margin: 0;
}

.modal textarea, .modal input{
    color: white;
    border: 1px solid rgb(104, 104, 104);
    background-color: #333333;
    padding: 8px 12px;
}

.modal textarea:focus, .modal input:focus{
    outline: none;
}

.close{
    margin-left: auto;
    width: 35px;
    height: 35px;
    display: flex;
    background-color: #333333;
    border-radius: 20%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon{
    width: 20px;
    height: 20px;
}

.option{
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.button{
    padding: 5px 10px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    column-gap: 3px;
    border-radius: 3px;
}

.button button{
    font-weight: 800;
}