.task{
    width: 380px;
    height: min-content;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: background-color 2s 1000ms
}

.task:hover .task_desc{
    height: min-content;
}

.task:hover .task_body{
    max-height: min-content;
    background-color: #f1f0f0;
}

.task_header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.task_branch{
    font-weight: bold;
    font-size: small;
}

.task_desc{
    overflow-y: hidden;
    height: 18px;
}

.task_body{
    transition: all 100ms linear;
    overflow-y: hidden;
    min-height: 79px;
    max-height: 79px;
    padding: 5px;
    color: #000000;
    background-color: #ffffff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.task_note_empty{
    color: #7a7a7a;
    font-size: small;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 79px;
    max-height: 79px;
    padding: 5px;
}

.task_selected{
    animation-name: selected;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    border: 1px solid rgba(199, 199, 199, 255);
    border-radius: 5px;
}

.task_selected .task_desc{
    height: min-content;
}

.task_selected .task_body{
    max-height: 100%;
    height: min-content;
    background-color: #f1f0f0;
}

@keyframes selected{
    0%{
        border: 1px solid rgba(199, 199, 199, 0);
    }
    25%{
        border: 1px solid rgba(199, 199, 199, 55);
    }
    50%{
        border: 1px solid rgba(199, 199, 199, 155);
    }
    100%{
        border: 1px solid rgba(199, 199, 199, 255);
    }
}