* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scrollbar-width: auto;
  scrollbar-color: #d6d6d6 #ffffff;
}


*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-thumb {
  background-color: #6a6fb3;
  border-radius: 10px;
}

body {
  font-family: 'Ubuntu', sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #ececec;
  color: #3f3d47;
}

body > div:first-child, div#__next, div#__next > div {
  height: 100%;
}

button, input{
  background-color: transparent;
  border: none;
}

button {
  cursor: pointer;
}

textarea{
  resize: none;
}

p{
  margin: 0;
  padding: 0;
}

